# WEB SCRAPING – ASSIGNMENT 4

**• Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.** 

**• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:**

    1. https://selenium-python.readthedocs.io/api.html

    2. https://www.guru99.com/exception-handling-selenium.html

    3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

**1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:** 

**A) Rank** 

**B) Name** 

**C) Artist** 

**D) Upload date** 

**E) Views**

**Answer:-**

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementClickInterceptedException
import requests
import pandas as pd
import time

In [27]:
code=requests.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
#code

driver=webdriver.Chrome()
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

everything=[]

all_tag=driver.find_elements(By.XPATH,'//td')
for i in all_tag:
    all_text=i.text
    everything.append(all_text)
    if len(everything)==182:
        break

#Deleting two unnessary elements form the list
del everything[:2]

most_view=pd.DataFrame({"Rank":everything[0::6],"Video Name":everything[1::6],"Artist Name":everything[2::6],"Upload Date":everything[4::6],"Views":everything[3::6]})

most_view

,Rank,Video Name,Artist Name,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

In [28]:
driver.close()

**2. Scrape the details team India’s international fixtures from bcci.tv.**

**Url = https://www.bcci.tv/.**

**You need to find following details:** 

    A) Series 

    B) Place 

    C) Date 

    D) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

**Answer:-**

In [29]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [30]:
#Clicking on Fixture option
fixture_button=driver.find_element(By.XPATH,'//div[@id="imw-international-men"]/a[2]')
fixture_button.click()
time.sleep(5)

In [31]:
#Clicking on all team option 
all_team=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]')
all_team.click()
time.sleep(2)

In [ ]:
#clicking on india option
click_India=driver.find_element(By.XPATH,'//div[@class="cSBListItems ng-binding ng-scope"][9]')
click_India.click()
time.sleep(2)

In [35]:
#Load more info by clicking More Matches option

for i in range(3):
    try:
        
        more_matches=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
        more_matches.click()
        time.sleep(2)
    except NoSuchElementException:
        break

In [36]:
Series=[]
Place=[]
Date=[]
Time=[]

In [38]:
#Scraping Series names 
try:
    series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for s in series_tag:
        s_text=s.text
        Series.append(s_text)
except NoSuchElementException:
    Series.append("--")

#Scraping place names     
try:
    place_tag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for p in place_tag:
        p_text=p.text
        Place.append(p_text)
except NoSuchElementException:
    Place.append("--")    
    
#Scraping Date
try:
    date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for d in date_tag:
        d_text=d.text
        Date.append(d_text)
except NoSuchElementException:
    Date.append("--")
    

#Scraping time
try:
    time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for t in time_tag:
        t_text=t.text
        Time.append(t_text)
except NoSuchElementException:
    Time.append("--")

In [39]:
Fixture=pd.DataFrame({"Series Name":Series,"Place":Place,"Date":Date,"Time":Time})
Fixture

,Series Name,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvananth...","26 NOVEMBER, 2023",7:00 PM IST
1,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati","28 NOVEMBER, 2023",7:00 PM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","3 DECEMBER, 2023",7:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban","10 DECEMBER, 2023",9:30 PM IST
5,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","12 DECEMBER, 2023",9:30 PM IST
6,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg","14 DECEMBER, 2023",9:30 PM IST
7,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
8,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","19 DECEMBER, 2023",2:00 PM IST
9,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl","21 DECEMBER, 2023",2:00 PM IST
10,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
11,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
12,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
13,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
14,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
15,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
16,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
17,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
18,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
19,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

In [ ]:
driver.close()

**3. Scrape the details of State-wise GDP of India from statisticstime.com.** 

**Url = http://statisticstimes.com/** 

**You have to find following details:** 

**A) Rank** 

**B) State** 

**C) GSDP(18-19)- at current prices** 

**D) GSDP(19-20)- at current prices** 

**E) Share(18-19)** 

**F) GDP($ billion)** 

Note: - From statisticstimes home page you have to reach to economy page through code.

**Answer:-**

In [17]:
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [18]:
#Clicking on india option from economy tab
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()
#Clicking on india option
india=driver.find_element(By.XPATH,'//a[@href="economy/india-statistics.php"]')
india.click()
time.sleep(2)

In [20]:
#Clicking on GDP of indian states link
gdp_state=driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]')
gdp_state.click()

In [21]:
mix=[]

In [22]:
try:
    mix_tag=driver.find_elements(By.XPATH,'//td')
    for m in mix_tag:
        m_text=m.text
        mix.append(m_text)
        
except NoSuchElementException:
    mix.append("--")

In [23]:
len(mix)

514

In [24]:
#Deleting unnessary elements from the list
#Deleting first 4 elements
del mix[:4]
print(len(mix))

510

In [32]:
GDP=pd.DataFrame({"State Rank":mix[0:264:8],"State Name":mix[1:264:8],"GSDP(19-20)- at current prices":mix[2:264:8],"GSDP(18-19)- at current prices":mix[3:264:8],"Share(18-19)":mix[4:264:8],"GDP($ billion)":mix[5:264:8]})
GDP

,State Rank,State Name,GSDP(19-20)- at current prices,GSDP(18-19)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

**4. Scrape the details of trending repositories on Github.com.**

**Url = https://github.com/** 

**You have to find the following details:** 

**A) Repository title** 

**B) Repository description** 

**C) Contributors count** 

**D) Language used**

Note: - From the home page you have to click on the trending option from Explore menu through code.

**Answer:-**

In [12]:
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [16]:
#Clicking on tranding option on open source tab
opensource_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
opensource_click.click()
trend_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend_click.click()

In [17]:
name=[]
des=[]
con=[]
lan=[]

In [18]:
try:
    name_tag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for n in name_tag:
        n_text=n.text
        name.append(n_text)
except NoSuchElementException:
    name.append("--")
    
    
try:
    des_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for d in des_tag:
        d_text=d.text
        des.append(d_text)
except NoSuchElementException:
    des.append("--")
    
    

try:
    con_tag=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for c in con_tag:
        c_text=c.text
        con.append(c_text)
except NoSuchElementException:
    con.append("--")
    
    
    
try:
    lan_tag=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
    for l in lan_tag:
        l_text=l.text
        lan.append(l_text)
except NoSuchElementException:
    lan.append("--")

In [20]:
print(len(name),len(des),len(con),len(lan))

25 25 25 19

In [25]:
index=[2,3,6,9,18,22]

for i in index:
    if i<len(index):
        lan.insert(i,"--")

In [28]:
print(len(name),len(des),len(con),len(lan))

25 25 25 25

In [30]:
GitHub=pd.DataFrame({"Repository Title":name,"Repository Description":des,"Contributors Count":con,"Language Used":lan})
GitHub

,Repository Title,Repository Description,Contributors Count,Language Used
0,bgstaal / multipleWindow3dScene,"A quick example of how one can ""synchronize"" a...","1,110",JavaScript
1,run-llama / rags,"Build ChatGPT over your data, all with natural...",184,Python
2,teslamotors / roadster,2008-2012 Roadster Development and Diagnostic ...,200,--
3,trungdq88 / Awesome-Black-Friday-Cyber-Monday,"Awesome deals on Black Friday: Apps, SaaS, Boo...",797,--
4,fanmingming / live,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,"2,081",JavaScript
5,keiko233 / clash-nyanpasu,Clash Nyanpasu!,218,TypeScript
6,linexjlin / GPTs,leaked prompts of GPTs,482,--
7,wesbos / hot-tips,The code behind my hot tips,114,HTML
8,lllyasviel / Fooocus,Focus on prompting and generating,"1,394",Python
9,florinpop17 / app-ideas,A Collection of application ideas which can be...,"8,827",--
10,StarRocks / starrocks,"StarRocks, a Linux Foundation project, is a ne...","1,345",Java
11,antirez / botlib,C Telegram bot framework,75,C
12,GrowingGit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,"9,871",Java
13,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"1,192",Go
14,LouisShark / chatgpt_system_prompt,store all agent's system prompt,197,Shell
15,Stability-AI / generative-models,Generative Models by Stability AI,"1,634",Python
16,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"1,664",TypeScript
17,microsoft / AI-For-Beginners,"12 Weeks, 24 Lessons, AI for All!","3,608",Jupyter Notebook
18,fffaraz / awesome-cpp,A curated list of awesome C++ (or C) framework...,"7,474",--
19,mRs- / Black-Friday-Deals,Black Friday Deals for macOS / iOS Software & ...,332,Swift
20,spring-projects / spring-boot,Spring Boot,"39,807",Java
21,windmill-labs / windmill,Open-source developer platform to turn scripts...,268,JavaScript
22,sergiomarotco / Network-segmentation-cheat-sheet,Best practices for segmentation of the corpora...,242,--
23,CatVodTVOfficial / TVBoxOSC,真的没有QQ群、QQ频道、论坛。打包分发注意开源协议，保留出处，不守规矩就不要搞。,"4,529",Java
24,angular / angular,Deliver web apps with confidence 🚀,"24,778",TypeScript

In [ ]:
driver.close()

**5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:** 

**A) Song name** 

**B) Artist name** 

**C) Last week rank** 

**D) Peak rank** 

**E) Weeks on board** 
 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

**Answer:-**

In [40]:
driver=webdriver.Chrome()
driver.get(" https:/www.billboard.com/")

In [41]:
#Clicking on charts tab
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [42]:
#Clicking on Billboard hot 100
bill_100=driver.find_element(By.XPATH,'//span[@class="c-label  "]/a[@href="https://www.billboard.com/charts/hot-100/"][1]')
bill_100.click()

In [43]:
S_name=[]
A_name=[]
Last_week_and_Week_on_board=[]
peak_rank=[]

In [45]:
try:
    name_tag_1=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    for n in name_tag_1:
        n_text=n.text
        S_name.append(n_text)
        
    name_tag_99=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for na in name_tag_99:
        na_text=na.text
        S_name.append(na_text)
        
except NoSuchElementException:
    S_name.append("--")
    
    
try:
    Artist_tag_1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for a in Artist_tag_1:
        a_text=a.text
        A_name.append(a_text)
        
    Artist_tag_99=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for aa in Artist_tag_99:
        aa_text=aa.text
        A_name.append(aa_text)
except NoSuchElementException:
    A_name.append("--")
    
try:
    lw_and_wob_2=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for l in lw_and_wob_2:
        l_text=l.text
        Last_week_and_Week_on_board.append(l_text)
     
    lw_and_wob_198=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for ll in lw_and_wob_198:
        ll_text=ll.text
        Last_week_and_Week_on_board.append(ll_text)
        
except NoSuchElementException:
    Last_week_and_Week_on_board.append("--")
    
    
try:
    p_tag_1=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for p in p_tag_1:
        p_text=p.text
        peak_rank.append(p_text)
        
    p_tag_99=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for pp in p_tag_99:
        pp_text=pp.text
        peak_rank.append(pp_text)
except NoSuchElementException:
    peak_rank.append("--")

In [46]:
print(len(S_name),len(A_name),len(Last_week_and_Week_on_board),len(peak_rank))

100 100 200 100

In [48]:
Song=pd.DataFrame({"Song Name":S_name,"Artiest Name":A_name,"Last Week Rank":Last_week_and_Week_on_board[0::2],"Weeks On Board":Last_week_and_Week_on_board[1::2], "Peak Rank":peak_rank})
Song

,Song Name,Artiest Name,Last Week Rank,Weeks On Board,Peak Rank
0,Cruel Summer,Taylor Swift,1,28,1
1,Lovin On Me,Jack Harlow,-,1,2
2,Paint The Town Red,Doja Cat,2,15,1
3,Snooze,SZA,4,49,2
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,3,1
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,13,22
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,1,97
97,But I Got A Beer In My Hand,Luke Bryan,98,5,92
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,1,99
99,Soak City (Do It),310babii,-,1,100

In [49]:
driver.close()

**6. Scrape the details of Highest selling novels.**

**A) Book name** 

**B) Author name** 

**C) Volumes sold** 

**D) Publisher** 

**E) Genre** 

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

**Answer:-**

In [60]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

info=[]

#Scraping whole table data
details=driver.find_elements(By.XPATH,'//td')
for i in details:
    d_text=i.text
    info.append(d_text)
    
info.pop(0)

Novels=pd.DataFrame({"Book Name":info[1::6],"Author Name":info[2::6],"Volumes Sold":info[3::6],"Publisher":info[4::6],"Genre":info[5::6]})
Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [62]:
driver.close()

**7. Scrape the details most watched tv series of all time from imdb.com.** 

**Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:** 

**A) Name** 

**B) Year span** 

**C) Genre** 

**D) Run time**

**E) Ratings** 

**F) Votes**

**Answer:-**

In [4]:
import re

In [3]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [5]:
Name=[]
Year=[]
Genre=[]
RunTime=[]
Ratting=[]
Votes=[]

In [6]:
try:
    name_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for n in name_tag:
        n_text=n.text
        Name.append(n_text)
        
except NoSuchElementException:
    Name.append("--")
  
try:
    year_tag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for y in year_tag:
        y_text=y.text
        Year.append(y_text)
        
except NoSuchElementException:
    Year.append("--")
    
    
try:
    genre_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for g in genre_tag:
        g_text=g.text
        Genre.append(g_text)
        
except NoSuchElementException:
    Genre.append("--")
    
    
try:
    runtime_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for r in runtime_tag:
        r_text=r.text
        RunTime.append(r_text)
        
except NoSuchElementException:
    RunTime.append("--")
    
    
try:
    ratting_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span')
    for ra in ratting_tag:
        ra_text=ra.text
        Ratting.append(ra_text)
        
except NoSuchElementException:
    Ratting.append("--")
    
    
try:
    vote_tag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for v in vote_tag:
        v_text=v.text
        Votes.append(v_text)
        
except NoSuchElementException:
    Votes.append("--")

In [7]:
print(len(Name),len(Year),len(Genre),len(RunTime),len(Ratting),len(Votes))

100 100 100 100 200 100

In [8]:
#Checking purpose
Name[:5]

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016–2025)',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)']

In [20]:
#Using regex to extract only the series name 
series_name=[]
for i in Name:
    pattern=r"\d+\.\s(.+?)\s*\("
    new_name=re.match(pattern,i)
    series_name.append(new_name.group(1))

In [23]:
#Checking purpose
series_name[:5]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100']

In [22]:
print(len(series_name),len(Year),len(Genre),len(RunTime),len(Ratting),len(Votes))

100 100 100 100 200 100

In [28]:
Populer_Series=pd.DataFrame({"Series Name":series_name,"Year Span":Year,"Genre":Genre,"Run Time":RunTime,"Rattings":Ratting[1::2],"Votes":Votes},index=(range(1,101)))
Populer_Series

,Series Name,Year Span,Genre,Run Time,Rattings,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,225,107"
2,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,293"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,573"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,963"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,074"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.5,"53,241"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,332"
98,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,033"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,361"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,580"

In [ ]:
driver.close()

**8. Details of Datasets from UCI machine learning repositories.**

**Url = https://archive.ics.uci.edu/** 

**You have to find the following details:** 

**A) Dataset name** 

**B) Data type** 

**C) Task** 

**D) Attribute type** 

**E) No of instances** 

**F) No of attribute** 

**G) Year** 
 
Note: - from the home page you have to go to the Show All Dataset page through code.

**Answer:-**

In [2]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [3]:
#Clicking on View Dataset option
view_button=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
view_button.click()

In [4]:
Dataset_name=[]
Task_Data_type_instances_attribute_no=[]
Attribute_type=[]
Year=[]

In [5]:
#Scraping 11 pages only
start=0
end=11

for page in range(start,end):
    #Clicking on expand button and handling the ElementClickInterceptedException error
    try:
        expand=driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
        expand.click()
        
    except ElementClickInterceptedException:
        pass
    
    
    try:
        data_tag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
        for n in data_tag:
            n_text=n.text
            Dataset_name.append(n_text)
    except NoSuchElementException:
        Dataset_name.append("--")
        
        
    try:
        task_d_type_instance_and_NoOfAttributes=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
        for d in task_d_type_instance_and_NoOfAttributes:
            d_text=d.text
            Task_Data_type_instances_attribute_no.append(d_text)
    except NoSuchElementException:
        Task_Data_type_instances_attribute_no.append("--")  
        
        
    try:
        att_type=driver.find_elements(By.XPATH,'//tr/td[2]')
        for a in att_type:
            a_text=a.text
            Attribute_type.append(a_text)
    except NoSuchElementException:
        Attribute_type.append("--")
        
    try:
        year=driver.find_elements(By.XPATH,'//tr/td[3]')
        for y in year:
            y_text=y.text
            Year.append(y_text)
    except NoSuchElementException:
        Year.append("--")   
        
    #clicking on next button   
    next_button=driver.find_elements(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    time.sleep(3)

In [6]:
print(len(Dataset_name),len(Task_Data_type_instances_attribute_no),len(Attribute_type),len(Year))

110 440 110 110

In [9]:
Dataset=pd.DataFrame({"Dataset name":Dataset_name,"Data Type":Task_Data_type_instances_attribute_no[1::4],"Task":Task_Data_type_instances_attribute_no[0::4],"Attribute Type":Attribute_type,"No Of Instances":Task_Data_type_instances_attribute_no[2::4],"No Of Attribute":Task_Data_type_instances_attribute_no[3::4],"Year":Year},index=range(1,111))
Dataset

,Dataset name,Data Type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
1,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
4,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
...,...,...,...,...,...,...,...
106,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
107,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
108,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
109,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
110,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019

In [10]:
driver.close()